<!DOCTYPE html>
<html>
<head>
    <title>添加课程</title>
</head>
<body>
    <h1>添加课程</h1>
    <form action = "/addcourse" method = "post">
        <label for="courseId">课程号:</label>
        <input type="text" id="courseId" name="courseId" ><br><br>
        <label for="courseName">课程名:</label>
        <input type="text" id="courseName" name="courseName" ><br><br>
        <label for="courseCredit">学分:</label>
        <input type="text" id="courseCredit" name="courseCredit" ><br><br>
        <button type="submit">提交</button>
</body>
</html>