<!DOCTYPE html>
<html>
<head>
    <title>添加学生</title>
</head>
<body>
    <h1>添加学生</h1>
    <form action = "/addstu" method = "post">
        <label for="studentId">学号:</label>
        <input type="text" id="studentId" name="studentId" ><br><br>
        <label for="studentName">姓名:</label>
        <input type="text" id="studentName" name="studentName" ><br><br>
        <label for="studentGender">性别:</label>
        <input type="text" id="studentGender" name="studentGender" ><br><br>
        <label for="studentMajor">专业:</label>
        <input type="text" id="studentMajor" name="studentMajor" ><br><br>
        <label for="studentImage">图片:</label>
        <input type="text" id="studentImage" name="studentImage" ><br><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>