<!DOCTYPE html>
<html>
<head>
    <title>登录（管理员）</title>
</head>
<body>
    <h1>管理员登录</h1>
    
    <form action = "/loginadmin" method = "post">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="登录">
    </form>
    
    <br>
    
    <a href="/loginstu">切换到学生端</a>
    
</body>
</html>