<!DOCTYPE html>
<html>
<head>
    <title>修改成绩</title>
</head>
<body>
    <h1>修改成绩</h1>
    <form action = "/modifyppdate/{{sid}}/{{cid}}" method = "post">
        <label for="studentId">学号:</label>
        <input type="text" id="studentId" name="studentId" value = "{{ sid }}" readonly="true"><br><br>
        <label for="courseId">课号:</label>
        <input type="text" id="courseId" name="courseId" value = "{{ cid }}" readonly="true"><br><br>
        <label for="score">成绩:</label>
        <input type="text" id="score" name="score" ><br><br>
        <button type="submit">提交</button>
    </form>
</body>
</html>